<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>webpack 4 quickstart</title>
	</head>
	<body>
		<div>{{htmlWebpackPlugin.options.title}}</div>
		<div id="bgi"></div>
		<img id="img" src='./public/images/dog.png' title='это из html'/>
	</body>
</html>